* {
    padding: 0;
    list-style-type: none
    
}

body {
    line-height: 1;
}

.container{ 
    width: 1300px;
    margin: 0 auto;
}



.header__wrapper {
    background-color: #213B7E;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1300px;
    height: 80px; 
}

.icons {
    margin-left: 10px;
}

.nav {
    display: flex;
}

.nav__link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 20px;
    height: 80px;
    padding: 0 2rem;
}

.nav__link:hover {
    background-color: white;
    color: black;
}

.btn {
    background-color: #EA5D21;
    width: 150px;
    height: 50px;
    border: none;
    margin-right: 10px;
}

.button {
    color: white;
}

.main-students {
    width: 1202px;
    height: 599px;
    margin: 0 auto;
}

.title {
    margin-top: 20px;
    font-family: Roboto;
    font-size: 31px;
    font-weight: 700;
    line-height: 36.33px;
}

.student {
    display: flex;
    justify-content: space-evenly;
}

.student__card {
    margin-top: 20px;
    width: 200px;
    height: 270px;    
    background-color: #86C6F4;
    margin-bottom: 8px;
    text-align: center;
}

.nev-student {
    width: 94px;
    height: 24px;
    position: absolute;
    left: 498px;
    top: 150px;
    border-radius: 20px;
    background: #3AA828;
    font-size: 18px;
    color: #FFFFFF;
    font-weight: 400;

}


.students__name {
    text-align: center;
}

.footer {
    background-color: #213B7E;
    display: flex;
    align-items: center;
    width: 1300px;
    height: 60px;

}

.footer__text {
    margin: 0 auto;
    color: #FFFFFF80;
}